:root, html, body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    width: 100vw;
    overflow-x: hidden;
}
.blurb {
    background-color: rgba(0,0,0,0.625);
    box-shadow: 0 0 2rem 3rem rgba(0,0,0,0.625);
    border-radius: 2.5rem;
}
header, section {
    background-position: center center, center center;
    background-size: cover, cover;
    overflow: hidden;
}
.product img {
    width: 250px;
    max-width: 35vw;
}
.product .col {
    flex-grow: 0;
}
.product .descript {
    flex-grow: 1;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
code,kbd {
    text-shadow: none;
}
a, a.nav-link {
    color: crimson;
}
footer .nav {
    margin: 0 -1rem 1.5rem -1rem;
}

body:not(.b) .b {
    display: none;
}
body.b .a {
    display: none;
}

.condense, .condense * {
    overflow: hidden;
    overflow-wrap: normal;
    position: relative;
    text-overflow: ellipsis;
}
.condense {
    margin-bottom: 0.5rem;
    max-height: 10em;
    flex-grow: 1;
}
.condense::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to top,var(--fade-bg-color),transparent);
    height: 1.75em;
}

.gumroad-button {
    height: 2.375rem;
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right,transparent,black,transparent);
}

/* heros + promostrips */
#hero-blender {
    background-color: saddlebrown;
    color: white;
    background-image: url(/blender/hero-blur.png), url(/blender/hero-placehold.jpg);
}
#pearly {
    text-shadow: 0 0 .5rem #7CFC00, 0 0 1rem #4CBB17;
    filter: saturate(1.5);
    background-image: url(/blender/effect-translucent.png);
    background-blend-mode: soft-light;
}
/* heros + promostrips */

.bg-gradient-light-cyan {
    background: linear-gradient(to right bottom,aliceblue,#9AECDB);
}
.no-underline {
    text-decoration: none !important;
}

.card {
    line-height: 1.5;
}

img-comparison-slider {
    cursor: ew-resize;
}