<footer class="pb-5 text-center">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://cgmeerkat.gumroad.com"
        onclick="trackLinkClick('footer_gumroad')"
        >Gumroad</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://superhivemarket.com/creators/cgmeerkat"
        onclick="trackLinkClick('footer_blendermarket')"
        >Superhive</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://cgmeerkat.gumroad.com/?section=xu_vEukJs1nuYcY_SjUsHQ%3D%3D"
        onclick="trackLinkClick('footer_gum_blog')"
        >Blog</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://www.youtube.com/@CGmeerkat"
        onclick="trackLinkClick('footer_youtube')"
        title="YouTube"
      >
        <i class="bi bi-youtube"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://x.com/CGMeerkat"
        onclick="trackLinkClick('footer_twitter')"
        title="Twitter"
      >
        <i class="bi bi-twitter-x"></i>
      </a>
    </li>
  </ul>
  <small> &copy; 2025 CG Meerkat </small>
</footer>
